<script async src="{{ '/assets/javascripts/main.js' | relative_url }}"></script>
<script defer src="https://data.jeynes.uk/script.js" data-website-id="36ad6802-1a10-4567-9b11-1fa43076ba6b"></script>
{% if site.search %}
  {%- assign search_provider = site.search_provider | default: "lunr" -%}
  {%- case search_provider -%}
    {%- when "lunr" -%}
      {% include search/lunr-search-scripts.html %}
    {%- when "algolia" -%}
      {% include search/algolia-search-scripts.html %}
  {%- endcase -%}
{% endif %}
