---
layout: page
---

{{ content }}

{% assign postsByClass = site.posts | group_by_exp: 'post', 'post.class' %}
{% for class in postsByClass %}
  {% if page.class == class.name %}
    <section id="{{ year.name }}" class="taxonomy-section">
      <h2 class="taxonomy-title">{{ year.name }}</h2>
      <div class="entries-{{ page.entries_layout | default: 'list' }}">
        {% for post in class.items %}
          {% include entry.html %}
        {% endfor %}
      </div>
      <a href="#page-title" class="back-to-top">{{ site.data.text[site.locale].back_to_top | default: 'Back to Top' }} &uarr;</a>
    </section>
  {% endif %}
{% endfor %}
